body {
    font-family: 'Raleway', sans-serif;
    background-color: #cae4f4;
}

.navbar-custom {
    background-color: #3f51b5 !important;
    font-weight: bold;
}

.navbar-custom a {
    color: #fff !important;
}

.navbar-custom a:hover {
    color: #fff;
}

.card-custom {
    border-color: #3f51b5;
}

.card-header-custom {
    background-color: #3f51b5;
}

.card-header-custom a {
    color: #fff;
}

.color-set {
    background-color: #3f51b5;
    color: white;
}

.color-set-default {
    background-color: #343a40;
    color: white;
}

.footer {
    margin-top: 10px;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}